---
import BaseLayout from "../layout/BaseLayout.astro";
import {Greeting} from '../components/Greeting';
const pageTitle = '首页'
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
	<Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]}/>
  </body>
</html>
